$react-toptip-theme-list:(
  default:#333,
  info:#2563ab,
  error:#e02a2d,
  warn:#ed9f35,
  success:#359030,
);

.react-toptips{
  height: 3em;
  line-height: 3em;
  font-size: 1.4em;
  transition: top 0.3s;
  position: fixed;
  z-index:90;
  text-align: center;
  color:#FFF;
  width:100%;

  &[data-visible=true]{
    top:0;
  }
  &[data-visible=false]{
    top:-3em;
  }

  @each $name,$color in $react-toptip-theme-list{
    &[data-theme=#{$name}]{
      background: rgba($color,0.9);
    }
  }
}
